
</div>
<div class="footer-padding"></div>
  <div class="footer">
<section id="lab_social_icon_footer">

  <div class="container">
    <div class="text-center center-block">
              <h4 style=" font-family: "Helvetica Neue" "> 2019 &copy Subha Ilamathy </h4>
              <a href="https://www.linkedin.com/in/subha99/"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
	            <a href="https://github.com/subhailams/"><i id="social-gi" class="fa fa-github-square fa-3x social"></i></a>
	            <a href="mailto:subhailams@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>
  </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
