

.main{

position: relative;
}

h1{
color: black;
font-family: 'Alegreya', serif;

}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}


.colored-section {
  background-color: #1abc9c;
  color: #fff;
  height: 150px;
}

.container-fluid{
  padding: 7% 15%;

}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.navbar .navbar-collapse {
  text-align: center;
}

#title {
  background-color: #1abc9c;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.footer {
	 
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: relative;
  text-align: center;
  background-color: #1abc9c;
	
}

.footer p {
	margin-top: 25px;
	font-size: 18px;
  color: #fff;

}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-ln:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-gi:hover {
  color: #449182;
}

#lab_social_icon_footer #social-em:hover {
  color: #d34836;
}

/*
#preloader {
    /*background-color: #fff;*/
    background: #000 url(source.gif) no-repeat center center;
    height: 100vh;
    position: fixed;
    width: 100%;
    overflow: visible;
    z-index: 1;
}*/